<% provide(:title, "Users") %>

<div class="container">
  <h1>利用者一覧</h1>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= will_paginate %>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>名前</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <% if user.admin? %>
                <tr>
                  <td>
                    <%= link_to user.name, user_path(user) %>
                    <span class="label label-primary label-user-division">管理者</span>
                  </td>
                </tr>
              <% else %>
                <tr>
                  <td>
                    <%= link_to user.name, user_path(user) %>
                    <span class="label label-success label-user-division">一般</span>
                  </td>
                  <td>
                    <%= link_to "削除", user_path(user), method: :delete,
                    data: { confirm: "「#{user.name}」を削除します。よろしいですか。"}, class: "btn btn-danger pull-right" %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      <%= will_paginate %>
    </div>
  </div>
</div>